body {
  background-color: rgb(255, 255, 255);
  /*background: #f0f0f0 url('https://') no-repeat center/cover fixed;*/
  flex-direction: column; /*гибкий макет*/
  justify-content: center;  /* центрирование по горизонтали */
}
.calculator-wrapper{
  width: fit-content;
  margin: 40px auto;
}
/* опишем базовый стиль кнопки калькулятора */
.my-btn {
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 50%;          /* округляем кнопку */
  border: none;                /* отключаем обводку */
  background: #e0e4ea;         /* задаем серый цвет кнопки */
  color: #1e2736;                /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #acbaf4; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
  background: #065de6; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
  background: #7832f3; /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
  width: 110px;          /* сделаем кнопку шире других */
  border-radius: 34px;   /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result {
  width: 280px;
  height: 50px;
  margin-top: 15px;
  border: 2px solid#192094;
  border-radius: 10px;
  margin-bottom: 15px;         /* отступ снизу */
  background: rgb(243, 243, 243); /* цвет можно задавать и таким образом */
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #1e2736;              /* цвет текста белый */
  font-size: 1.5rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.site-header {
  max-width: 100%;
  width: 100%;
  padding: 24px 32px;
  background: darkblue;      /* тёмно-синий фон */
  border: none;              /* убираем все границы */
  /* закругляем только нижние углы, например радиусом 20px */
  border-radius: 0 0 20px 20px;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.ad-label {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.product-title {
  font-size: 28px;
  font-weight: 600;
  color: white;
  line-height: 1.3;
}

.product-description {
  font-size: 15px;
  font-weight: 10;
  color: #a6a6a6;
  line-height: 1.3;
}

.header-color-btn {
    background: transparent;    /* прозрачный фон — кнопка не перекрывает фон хедера */
    border: 2px solid white;    /* белая рамка толщиной 2 пикселя */
    border-radius: 12%;         /* скругляем на 50% — получается идеальный круг */
    width: 100px;                /* ширина кнопки */
    height: 40px;               /* высота кнопки */
    color:#ffffff;
    color-scheme: #4527de;
    margin-right: 5%;
    font-size: 1.5rem;          /* размер*/
    cursor: pointer;            /* курсор при наведении */
    user-select: none;          /* запрещаем выделять содержимое кнопки */
}

.header-color-btn:hover {
  background: #acbaf4; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.header-color-btn:hover {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}